
* {
    font-family: Helvetica, sans-serif;
}
body {    
    background-color: deepskyblue;
}

.subpage-title {
    font-family: Helvetica, sans-serif;
    font-size:3em;
    color:  black;
    text-decoration: none;    
    text-align: right;
    height: 100%;
    width: 100%;
}
.subpage-title:hover {
    font-family: Helvetica, sans-serif;
    font-size: 4em;
    color:  red;
    font-variant: normal;     
    text-align: center;
    height: 100%;
    width: 100%;
}
#my_name {
    font-family: Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
}
.paragraph {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-justify: auto;
}

.chapter {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: left;
}
.page-header {
    height:fit-content;
    width: 100%;
    background-color: crimson;
}
.grid {
    display: flex;
    flex-direction: row;
}

.col-3 {
    border: 1px;
    border-style: solid;
    border-color: black;
    display: flex;
    flex-direction: row;
    height: 150px;
    width: 33.33333333333%;
    background-color: lightgreen;
}
.col-4 {
    display: flex;
    flex-direction: column;
}

.col-8 {
    height: auto;
    width: 66.66%;
    background-color: rgb(245, 186, 245);
    
}

.form {
    padding-left: 20px;
    font-size: 1em;
}
footer {
    height: 150px;
    width: 100%;
    background-color:hotpink;
}
.sidebar-left {
    display: flex;
    flex-direction: column;
    width: 33.33%;
    height: auto;
    background-color:khaki;
}
    
.test {
    width:100%;
    height: 200px;
}

img {
    width: 100%;
    max-height: 700px;
}

.gallery_picture {
    display: inline-flex;
    flex-direction: row;
    width: 33%;
    flex-wrap: wrap;
}

.card {
    height: 100%;
    width: 100%;
}