* {
    border: 5px;
    border-style: solid;
    border-color: black;
}
body {
    background-color: deepskyblue;
}

.page-header {
    height: 50px;
    width: 100%;
    background-color: crimson;
}

.col-4 {    
    height: 150px;
    width: 33.33%;
    background-color: lightgreen;
}
footer {
    height: 50px;
    width: 100%;
    background-color:hotpink;
}
