
body {
    background-color: deepskyblue;
}

.subpage-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size:large;
    height: 100%;
    width: 100%;
}
#my_name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
}
.paragraph {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-justify: auto;
}

.chapter {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: left;
}
.page-header {
    height: 100px;
    width: 100%;
    background-color: crimson;
}
.grid {
    display: flex;
    flex-direction: row;
}

.col-3 {
    border: 1px;
    border-style: solid;
    border-color: black;
    display: flex;
    flex-direction: row;
    height: 150px;
    width: 25%;
    background-color: lightgreen;
}
.col-4 {
    display: flex;
    flex-direction: column;
}

.col-8 {
    height: 700px;
    width: 66.66%;
    background-color: purple;
}
footer {
    height: 150px;
    width: 100%;
    background-color:hotpink;
}
.sidebar-left {
    display: flex;
    flex-direction: column;
    width: 33.33%;
    height: auto;
    background-color:khaki;
}
    
.test {
    width:100%;
    height: 200px;
}

img {
    width: 100%;
    max-height: 700px;
}

.card {
    height: 100%;
    width: 100%;
}